{
	"presets": ["@babel/env", "@babel/react", "@babel/es2015"],
	"plugins": [
		["@babel/plugin-proposal-class-properties"],
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		],
		[
			"@babel/plugin-proposal-private-methods",
			{
				"loose": true
			}
		],
		[
			"@babel/plugin-transform-runtime",
			{
				"loose": true
			}
		],
		[
			"@babel/plugin-proposal-private-property-in-object",
			{
				"loose": true
			}
		]
	]
}
