version: "3.7"
services:
    rf_frontend:
        build:
            context: ./app
            dockerfile: Dockerfile.test
        container_name: rf-fe-testing
        restart: unless-stopped
        networks:
            - proxy-bridge

networks:
    proxy-bridge:
        external: true
        name: proxy-bridge
