version: '3'

services:
  app:
    image: portainer/portainer-ce:latest
    container_name: portainer
    command: -H unix:///var/run/docker.sock
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainerdata/:/data
    ports:
      - '8010:9000'
      - '8011:8000'
    networks:
      - rf-fe-external
      - rf-fe-internal
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role == manager]
  app.dev:
    image: mongoclient/mongoclient:4.0.0
    container_name: mongodbclient
    user: node
    restart: unless-stopped
    volumes:
      - mongodbclientdata:/data/db
    ports:
      - '8014:3000'
    networks:
      - rf-fe-internal
  

networks:
  rf-fe-external: