version: "3.7"

services:
    rf-fe-dev:
        container_name: rf-fe-dev
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "5000:5000"
        volumes:
            - .:/app
        restart: unless-stopped
        networks:
            - proxy-bridge

networks:
    proxy-bridge:
        external: true
        name: proxy-bridge
