version: "3.7"
services:
    rf-fe-production:
        build:
            context: ./app
            dockerfile: Dockerfile.prod
        container_name: rf-fe-production
        restart: unless-stopped
        networks:
            - proxy-bridge

networks:
    proxy-bridge:
        external: true
        name: proxy-bridge
