version: "3.7"

services:
    rf-fe-dev:
        container_name: rf-fe-dev
        build:
            context: ./app
            dockerfile: Dockerfile
        volumes:
            - ./app:/app 
            # - ./vendor/node_modules:/app/node_modules
            - ./app/node_modules:/app/node_modules 
        restart: unless-stopped
        networks:
            - proxy-bridge

networks:
    proxy-bridge:
        external: true
        name: proxy-bridge
