@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 100;
	src: local('Product Sans Thin Regular'), url('ProductSans-Thin.woff') format('woff');
}

/* @font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 100;
	src: local('Product Sans Thin Italic'), url('ProductSans-ThinItalic.woff') format('woff');
} */

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Product Sans Light Regular'), url('ProductSans-Light.woff') format('woff');
}

/* @font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Product Sans Light Italic'), url('ProductSans-LightItalic.woff') format('woff');
} */

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Product Sans Regular'), url('ProductSans-Regular.woff') format('woff');
}


/* @font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Product Sans Italic'), url('ProductSans-Italic.woff') format('woff');
} */



@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Product Sans Medium Regular'), url('ProductSans-Medium.woff') format('woff');
}

/* @font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Product Sans Medium Italic'), url('ProductSans-MediumItalic.woff') format('woff');
} */

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Product Sans Bold'), url('ProductSans-Bold.woff') format('woff');
}


@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Product Sans Bold Italic'), url('ProductSans-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 900;
	src: local('Product Sans Black Regular'), url('ProductSans-Black.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 900;
	src: local('Product Sans Black Italic'), url('ProductSans-BlackItalic.woff') format('woff');
}



/* muli-200 - latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 200;
	src: local('Muli ExtraLight'), local('Muli-ExtraLight'),
		url('./muli-v16-latin-200.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-200.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-200italic - latin */
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 200;
	src: local('Muli ExtraLight Italic'), local('Muli-ExtraLightItalic'),
		url('./muli-v16-latin-200italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-200italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-300 - latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 300;
	src: local('Muli Light'), local('Muli-Light'),
		url('./muli-v16-latin-300.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-300.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-300italic - latin */
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 300;
	src: local('Muli Light Italic'), local('Muli-LightItalic'),
		url('./muli-v16-latin-300italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-300italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-regular - latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli Regular'), local('Muli-Regular'),
		url('./muli-v16-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-600 - latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 600;
	src: local('Muli SemiBold'), local('Muli-SemiBold'),
		url('./muli-v16-latin-600.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-600.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-italic - latin */
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 400;
	src: local('Muli Italic'), local('Muli-Italic'),
		url('./muli-v16-latin-italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-600italic - latin */
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 600;
	src: local('Muli SemiBold Italic'), local('Muli-SemiBoldItalic'),
		url('./muli-v16-latin-600italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-600italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-700 - latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 700;
	src: local('Muli Bold'), local('Muli-Bold'),
		url('./muli-v16-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-700.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-700italic - latin */
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 700;
	src: local('Muli Bold Italic'), local('Muli-BoldItalic'),
		url('./muli-v16-latin-700italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-700italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-800 - latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 800;
	src: local('Muli ExtraBold'), local('Muli-ExtraBold'),
		url('./muli-v16-latin-800.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-800.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-800italic - latin */
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 800;
	src: local('Muli ExtraBold Italic'), local('Muli-ExtraBoldItalic'),
		url('./muli-v16-latin-800italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-800italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-900 - latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 900;
	src: local('Muli Black'), local('Muli-Black'),
		url('./muli-v16-latin-900.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-900.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* muli-900italic - latin */
@font-face {
	font-family: 'Muli';
	font-style: italic;
	font-weight: 900;
	src: local('Muli Black Italic'), local('Muli-BlackItalic'),
		url('./muli-v16-latin-900italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('./muli-v16-latin-900italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('MaterialIcons-Regular.eot');
	/* For IE6-8 */
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url('MaterialIcons-Regular.woff2') format('woff2'),
		url('MaterialIcons-Regular.woff') format('woff'),
		url('MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}