@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-h-1\/3-screen {
    min-height: 33.333333vh;
  }
  .min-h-1\/2-screen {
    min-height: 50vh;
  }
  .min-h-2\/3-screen {
    min-height: 66.666667vh;
  }

}
